<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jy.theplayandroid.playandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".global.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PlayStartActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".playandroid.xiangmu.activitys.ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".playandroid.main.activity.HomePageDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".playandroid.xiangmu.activitys.ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".playandroid.zhishitixi.Zhishiactivity" />
        <activity android:name=".playandroid.zhishitixi.infoActivity" />
        <activity

            android:name=".playandroid.main.activity.BannerDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutUsActivity"></activity>
        <activity android:name=".playandroid.gongzhonghao.OfficialMarkDetailsActivity"></activity>
        <activity android:name=".playandroid.zhishitixi.infoActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".playandroid.daohang.activity.DaoHangInfoActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".RegisterActivity"></activity>
    </application>

</manifest>